<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="static/style.css">
  <title>Secret Store</title>
</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <div class="wrapper">
        <br><center>
        <h1 id="secret">You did it!!!</h1><h3><br> Flag is: {{ flag }}</h3>

    </center>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
      <div><span class="dot"></span></div>
    </div>
  </body>
<!-- partial -->
  
</body>
</html>



<html>
<head>
    
</head>

</center>
</body>
</html>
